<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
    <ion-item color="primary">
      <button ion-button icon-only item-left clear color="light">
        <ion-icon name="search"></ion-icon>
      </button>
      <ion-input placeholder="Search"></ion-input>
    </ion-item>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-grid no-padding>
      <ion-row>
        <ion-col text-center>
          <ion-buttons>
            <button ion-button icon-only>
              <ion-icon name="md-browsers"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col text-center>
          <ion-buttons>
            <button ion-button icon-only color="primary">
              <ion-icon name="md-contacts"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col text-center>
          <ion-buttons>
            <button ion-button icon-only>
              <ion-icon name="md-home"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col text-center>
          <ion-buttons>
            <button ion-button icon-only>
              <ion-icon name="md-notifications"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>


        <ion-col text-center>
          <ion-buttons>
            <button ion-button icon-only>
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header no-margin>
      <ion-label no-margin>
        PEOPLE YOU MAY KNOW
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="https://placeimg.com/250/250/people">
      </ion-thumbnail>
      <ion-label>
        <h2>Luis Vilcaromero</h2>
        <p>
          10 mutual friends
        </p>

        <ion-grid no-padding>
          <ion-row>
            <ion-col>
              <button ion-button block color="primary" small>
                Add Friend
              </button>
            </ion-col>

            <ion-col>
              <button ion-button block outline small>
                Remove
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>

    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="https://placeimg.com/250/250/people">
      </ion-thumbnail>
      <ion-label>
        <h2>Luis Vilcaromero</h2>
        <p>
          10 mutual friends
        </p>

        <ion-grid no-padding>
          <ion-row>
            <ion-col>
              <button ion-button block color="primary" small>
                Add Friend
              </button>
            </ion-col>

            <ion-col>
              <button ion-button block outline small>
                Remove
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>

    </ion-item>
    <ion-item>
      <ion-thumbnail item-left>
        <img src="https://placeimg.com/250/250/people">
      </ion-thumbnail>
      <ion-label>
        <h2>Luis Vilcaromero</h2>
        <p>
          10 mutual friends
        </p>

        <ion-grid no-padding>
          <ion-row>
            <ion-col>
              <button ion-button block color="primary" small>
                Add Friend
              </button>
            </ion-col>

            <ion-col>
              <button ion-button block outline small>
                Remove
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>

    </ion-item>
  </ion-list>

</ion-content>
