page-home {
  input::placeholder {
    color: white !important;
  }

  ion-card {
    position: relative;
  }

  .reactions {
    width: max-content;
    background: white;
    border: 1px solid #E0E0E0;
    border-radius: 16px;
    box-shadow: 1px 1px 2px #9E9E9E;
    margin-left: 5px;

    position: absolute;
    bottom: 50px;
    visibility: hidden;

    img {
      width: 40px;
      display: inline-block;
      transition: width 10ms, margin 10ms;
    }
    img:active {
      opacity: 0.5;
      filter: drop-shadow(2px 2px 2px #222)
    }

  }
}
