<ion-header>
  <ion-navbar color="primary" >
    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
    <ion-item color="primary">
      <button ion-button icon-only item-left clear color="light">
        <ion-icon name="search"></ion-icon>
      </button>
      <ion-input placeholder="Search"></ion-input>
    </ion-item>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-grid no-padding>
      <ion-row>
        <ion-col text-center>
          <ion-buttons>
            <button ion-button icon-only color="primary">
              <ion-icon name="md-browsers"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col text-center>
          <ion-buttons>
            <button ion-button icon-only>
              <ion-icon name="md-contacts"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col text-center>
          <ion-buttons>
            <button ion-button icon-only>
              <ion-icon name="md-home"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col text-center>
          <ion-buttons>
            <button ion-button icon-only>
              <ion-icon name="md-notifications"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>


        <ion-col text-center>
          <ion-buttons>
            <button ion-button icon-only>
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card no-margin margin-top style="width: 100%;">
    <ion-item>
      <ion-avatar item-left>
        <img src="https://placeimg.com/250/250/people">
      </ion-avatar>
      <ion-label>
        <h1>Luis Vilcarromero</h1>
        <ion-note>
          2 min ago
          <ion-icon name="md-globe"></ion-icon>
        </ion-note>
      </ion-label>
      <button ion-button icon-only item-right clear>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-item>
    <ion-card-content>
      <p>
        ipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsum
        ipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsum
        ipsum ipsumipsum ipsumipsum ipsumipsum ipsumipsum ipsum
        ipsum ipsumipsum ipsumipsum ipsum
      </p>
      <img src="https://placeimg.com/400/250/nature">
    </ion-card-content>

    <div class="reactions">
      <img src="assets/imgs/like.png" alt="like">
      <img src="assets/imgs/love.png" alt="love">
      <img src="assets/imgs/wow.png" alt="wow">
      <img src="assets/imgs/haha.png" alt="haha">
      <img src="assets/imgs/sad.png" alt="sad">
      <img src="assets/imgs/angry.png" alt="andry">
    </div>
    <ion-grid no-padding>
      <ion-row>
        <ion-col text-center>
            <button ion-button icon-right block clear>
              Like
              <ion-icon name="ios-thumbs-up-outline"></ion-icon>
            </button>
        </ion-col>
        <ion-col text-center>
            <button ion-button icon-right block clear>
              Comment
              <ion-icon name="ios-text-outline"></ion-icon>
            </button>
        </ion-col>
        <ion-col text-center>
            <button ion-button icon-right block clear>
              Share
              <ion-icon name="ios-undo-outline"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>




